@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.root {
  @include container;
}

.profile {
  margin-top: 100px;

  .profileHeader {
    display: flex;

    margin: 0 70px;
  }

  .profileContent {
    display: flex;
    align-items: center;
    margin-left: 70px;
    max-height: 50px;

    p {
      font-size: 26px;
      font-weight: 300;
      margin-right: 14px;
    }

    .profileContentButton {
      width: 90px;
      height: 30px;
      background: none;
      cursor: pointer;
      font-weight: 600;
      border: 1px solid $borderColor;
      border-radius: 4px;
    }

    .profileContentButtons {
      display: flex;

      button {
        margin-right: 12px;
      }
    }

    .profileContentFollow {
      width: 90px;
      height: 30px;
      background: $buttonColor;
      border: none;
      color: white;
      cursor: pointer;
      font-weight: 600;
      border-radius: 4px;
    }
  }
}

.statistics {
  display: flex;
  margin: 24px 0 24px 70px;

  p {
    margin-right: 24px;
    cursor: pointer;

    span {
      font-weight: 600;
    }
  }
}

.bio {
  font-weight: 600;
  margin-left: 70px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 30px;
  margin: 50px 0;
  padding-top: 34px;
  border-top: 1px solid $borderColor;
}
