@import '../../scss/variables.scss';

.search {
  position: relative;

  .searchIcon {
    position: absolute;
    top: 9px;
    left: 7px;
  }

  .searchInput {
    width: 268px;
    height: 36px;
    padding: 0px 32px;
    background: $searchInputColor;
    border: none;
    outline: none;
    border-radius: 8px;
  }

  .cancelIcon {
    position: absolute;
    top: 9px;
    right: 7px;
    cursor: pointer;
  }
}

.modal {
  position: absolute;
  top: 50px;
  left: 37%;
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 4px;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.user {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  cursor: pointer;

  &:hover {
    background: #fafafa;
  }

  p {
    margin-left: 12px;
    font-size: 14px;
    font-weight: 600;
  }
}
