@import '../../scss/mixins.scss';

.root {
  margin-top: 100px;
}

.container {
  @include container;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 48px;
  grid-row-gap: 30px;
}
